/* Phoenix Theme Variables — Light */
:root,
[data-bs-theme=light] {
  --phoenix-blue: #3874ff;
  --phoenix-indigo: #6610f2;
  --phoenix-purple: #6f42c1;
  --phoenix-pink: #d63384;
  --phoenix-red: #fa3b1d;
  --phoenix-orange: #e5780b;
  --phoenix-yellow: #ffc107;
  --phoenix-green: #25b003;
  --phoenix-teal: #20c997;
  --phoenix-cyan: #0097eb;
  --phoenix-black: #000000;
  --phoenix-white: #fff;
  --phoenix-gray: #6e7891;
  --phoenix-gray-dark: #141824;
  --phoenix-gray-50: #f5f7fa;
  --phoenix-gray-100: #eff2f6;
  --phoenix-gray-200: #e3e6ed;
  --phoenix-gray-300: #cbd0dd;
  --phoenix-gray-400: #9fa6bc;
  --phoenix-gray-500: #8a94ad;
  --phoenix-gray-600: #6e7891;
  --phoenix-gray-700: #525b75;
  --phoenix-gray-800: #3e465b;
  --phoenix-gray-900: #31374a;
  --phoenix-gray-1000: #222834;
  --phoenix-gray-1100: #141824;
  --phoenix-primary: #3874ff;
  --phoenix-secondary: #31374a;
  --phoenix-success: #25b003;
  --phoenix-info: #0097eb;
  --phoenix-warning: #e5780b;
  --phoenix-danger: #fa3b1d;
  --phoenix-light: #eff2f6;
  --phoenix-dark: #141824;
  --phoenix-primary-rgb: 56, 116, 255;
  --phoenix-secondary-rgb: 49, 55, 74;
  --phoenix-success-rgb: 37, 176, 3;
  --phoenix-info-rgb: 0, 151, 235;
  --phoenix-warning-rgb: 229, 120, 11;
  --phoenix-danger-rgb: 250, 59, 29;
  --phoenix-light-rgb: 239, 242, 246;
  --phoenix-dark-rgb: 20, 24, 36;
  --phoenix-primary-text-emphasis: #003cc7;
  --phoenix-secondary-text-emphasis: #525b75;
  --phoenix-success-text-emphasis: #1c6c09;
  --phoenix-info-text-emphasis: #005585;
  --phoenix-warning-text-emphasis: #bc3803;
  --phoenix-danger-text-emphasis: #b81800;
  --phoenix-light-text-emphasis: #141824;
  --phoenix-dark-text-emphasis: #fff;
  --phoenix-primary-bg-subtle: #e5edff;
  --phoenix-secondary-bg-subtle: #eff2f6;
  --phoenix-success-bg-subtle: #d9fbd0;
  --phoenix-info-bg-subtle: #c7ebff;
  --phoenix-warning-bg-subtle: #ffefca;
  --phoenix-danger-bg-subtle: #ffe0db;
  --phoenix-light-bg-subtle: #f7f9fb;
  --phoenix-dark-bg-subtle: #9fa6bc;
  --phoenix-primary-border-subtle: #85a9ff;
  --phoenix-secondary-border-subtle: #cbd0dd;
  --phoenix-success-border-subtle: #90d67f;
  --phoenix-info-border-subtle: #60c6ff;
  --phoenix-warning-border-subtle: #ffcc85;
  --phoenix-danger-border-subtle: #f48270;
  --phoenix-light-border-subtle: #eff2f6;
  --phoenix-dark-border-subtle: #8a94ad;
  --phoenix-white-rgb: 255, 255, 255;
  --phoenix-black-rgb: 0, 0, 0;
  --phoenix-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --phoenix-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --phoenix-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --phoenix-body-font-family: var(--phoenix-font-sans-serif);
  --phoenix-body-font-size: 1rem;
  --phoenix-body-font-weight: 400;
  --phoenix-body-line-height: 1.49;
  --phoenix-body-color: #31374a;
  --phoenix-body-color-rgb: 49, 55, 74;
  --phoenix-body-bg: #f5f7fa;
  --phoenix-body-bg-rgb: 245, 247, 250;
  --phoenix-emphasis-color: #141824;
  --phoenix-emphasis-color-rgb: 20, 24, 36;
  --phoenix-secondary-color: #3e465b;
  --phoenix-secondary-color-rgb: 62, 70, 91;
  --phoenix-secondary-bg: #e3e6ed;
  --phoenix-secondary-bg-rgb: 227, 230, 237;
  --phoenix-tertiary-color: #525b75;
  --phoenix-tertiary-color-rgb: 82, 91, 117;
  --phoenix-tertiary-bg: #cbd0dd;
  --phoenix-tertiary-bg-rgb: 203, 208, 221;
  --phoenix-heading-color: var(--phoenix-emphasis-color);
  --phoenix-link-color: #3874ff;
  --phoenix-link-color-rgb: 56, 116, 255;
  --phoenix-link-decoration: none;
  --phoenix-link-hover-color: #003cc7;
  --phoenix-link-hover-color-rgb: 0, 60, 199;
  --phoenix-link-hover-decoration: underline;
  --phoenix-code-color: #d63384;
  --phoenix-highlight-color: #31374a;
  --phoenix-highlight-bg: #fff3cd;
  --phoenix-border-width: 1px;
  --phoenix-border-style: solid;
  --phoenix-border-color: #cbd0dd;
  --phoenix-border-color-translucent: rgba(203, 208, 221, 0.54);
  --phoenix-border-radius: 0.375rem;
  --phoenix-border-radius-sm: 0.25rem;
  --phoenix-border-radius-lg: 0.5rem;
  --phoenix-border-radius-xl: 1rem;
  --phoenix-border-radius-xxl: 2rem;
  --phoenix-border-radius-2xl: var(--phoenix-border-radius-xxl);
  --phoenix-border-radius-pill: 50rem;
  --phoenix-box-shadow: 0px 2px 4px -2px rgba(36, 40, 46, 0.08);
  --phoenix-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --phoenix-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --phoenix-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --phoenix-focus-ring-width: 0.25rem;
  --phoenix-focus-ring-opacity: 0.25;
  --phoenix-focus-ring-color: rgba(56, 116, 255, 0.25);
  --phoenix-form-valid-color: #25b003;
  --phoenix-form-valid-border-color: #25b003;
  --phoenix-form-invalid-color: #fa3b1d;
  --phoenix-form-invalid-border-color: #fa3b1d;
  --phoenix-gray-50-rgb: 245, 247, 250;
  --phoenix-gray-100-rgb: 239, 242, 246;
  --phoenix-gray-200-rgb: 227, 230, 237;
  --phoenix-gray-300-rgb: 203, 208, 221;
  --phoenix-gray-400-rgb: 159, 166, 188;
  --phoenix-gray-500-rgb: 138, 148, 173;
  --phoenix-gray-600-rgb: 110, 120, 145;
  --phoenix-gray-700-rgb: 82, 91, 117;
  --phoenix-gray-800-rgb: 62, 70, 91;
  --phoenix-gray-900-rgb: 49, 55, 74;
  --phoenix-gray-1000-rgb: 34, 40, 52;
  --phoenix-gray-1100-rgb: 20, 24, 36;
  --phoenix-primary-lighter: #adc5ff;
  --phoenix-primary-light: #85a9ff;
  --phoenix-primary-dark: #004dff;
  --phoenix-primary-darker: #003cc7;
  --phoenix-secondary-lighter: #e3e6ed;
  --phoenix-secondary-light: #cbd0dd;
  --phoenix-secondary-dark: #222834;
  --phoenix-secondary-darker: #525b75;
  --phoenix-warning-lighter: #ffe6ad;
  --phoenix-warning-light: #ffcc85;
  --phoenix-warning-dark: #d6630a;
  --phoenix-warning-darker: #bc3803;
  --phoenix-danger-lighter: #fabcb3;
  --phoenix-danger-light: #f48270;
  --phoenix-danger-dark: #cc1b00;
  --phoenix-danger-darker: #b81800;
  --phoenix-success-lighter: #bee8b4;
  --phoenix-success-light: #90d67f;
  --phoenix-success-dark: #23890b;
  --phoenix-success-darker: #1c6c09;
  --phoenix-info-lighter: #96d9ff;
  --phoenix-info-light: #60c6ff;
  --phoenix-info-dark: #0080c7;
  --phoenix-info-darker: #005585;
  --phoenix-quaternary-color: #8a94ad;
  --phoenix-quaternary-color-rgb: 138, 148, 173;
  --phoenix-quaternary-bg: #9fa6bc;
  --phoenix-quaternary-bg-rgb: 159, 166, 188;
  --phoenix-emphasis-bg: #fff;
  --phoenix-emphasis-bg-rgb: 255, 255, 255;
  --phoenix-body-highlight-color: #222834;
  --phoenix-body-highlight-color-rgb: 34, 40, 52;
  --phoenix-body-highlight-bg: #eff2f6;
  --phoenix-body-highlight-bg-rgb: 239, 242, 246;
  --phoenix-border-color-rgb: 203, 208, 221;
  --phoenix-scrollbar-bg: rgba(var(--phoenix-quaternary-bg-rgb), 0.55);
}

/* Phoenix Theme Variables — Dark */
[data-bs-theme=dark] {
  color-scheme: dark;
  --phoenix-body-color: #9fa6bc;
  --phoenix-body-color-rgb: 159, 166, 188;
  --phoenix-body-bg: #0f111a;
  --phoenix-body-bg-rgb: 15, 17, 26;
  --phoenix-emphasis-color: #eff2f6;
  --phoenix-emphasis-color-rgb: 239, 242, 246;
  --phoenix-secondary-color: #949db5;
  --phoenix-secondary-color-rgb: 148, 157, 181;
  --phoenix-secondary-bg: #31374a;
  --phoenix-secondary-bg-rgb: 49, 55, 74;
  --phoenix-tertiary-color: #8a94ad;
  --phoenix-tertiary-color-rgb: 138, 148, 173;
  --phoenix-tertiary-bg: #373e53;
  --phoenix-tertiary-bg-rgb: 55, 62, 83;
  --phoenix-primary-text-emphasis: #85a9ff;
  --phoenix-secondary-text-emphasis: #cbd0dd;
  --phoenix-success-text-emphasis: #90d67f;
  --phoenix-info-text-emphasis: #60c6ff;
  --phoenix-warning-text-emphasis: #ffcc85;
  --phoenix-danger-text-emphasis: #f48270;
  --phoenix-light-text-emphasis: #eff2f6;
  --phoenix-dark-text-emphasis: #141824;
  --phoenix-primary-bg-subtle: #1C2231;
  --phoenix-secondary-bg-subtle: #252834;
  --phoenix-success-bg-subtle: #1D2527;
  --phoenix-info-bg-subtle: #1A2431;
  --phoenix-warning-bg-subtle: #262527;
  --phoenix-danger-bg-subtle: #241F25;
  --phoenix-light-bg-subtle: #3e465b;
  --phoenix-dark-bg-subtle: #1f232e;
  --phoenix-primary-border-subtle: #303B5A;
  --phoenix-secondary-border-subtle: #3D414C;
  --phoenix-success-border-subtle: #354739;
  --phoenix-info-border-subtle: #29435A;
  --phoenix-warning-border-subtle: #51453A;
  --phoenix-danger-border-subtle: #4C3233;
  --phoenix-light-border-subtle: #141824;
  --phoenix-dark-border-subtle: #3e465b;
  --phoenix-heading-color: var(--phoenix-emphasis-color);
  --phoenix-link-color: #85a9ff;
  --phoenix-link-hover-color: #85a9ff;
  --phoenix-link-color-rgb: 133, 169, 255;
  --phoenix-link-hover-color-rgb: 133, 169, 255;
  --phoenix-code-color: #d63384;
  --phoenix-highlight-color: #9fa6bc;
  --phoenix-highlight-bg: #664d03;
  --phoenix-border-color: #373e53;
  --phoenix-border-color-translucent: rgba(55, 62, 83, 0.78);
  --phoenix-form-valid-color: #90d67f;
  --phoenix-form-valid-border-color: #90d67f;
  --phoenix-form-invalid-color: #f48270;
  --phoenix-form-invalid-border-color: #f48270;
  --phoenix-gray-50: #0f111a;
  --phoenix-gray-100: #222834;
  --phoenix-gray-200: #31374a;
  --phoenix-gray-300: #373e53;
  --phoenix-gray-400: #3e465b;
  --phoenix-gray-500: #606981;
  --phoenix-gray-600: #6e7891;
  --phoenix-gray-700: #8a94ad;
  --phoenix-gray-800: #949db5;
  --phoenix-gray-900: #9fa6bc;
  --phoenix-gray-1000: #cbd0dd;
  --phoenix-gray-1100: #EFF1F5;
  --phoenix-gray-50-rgb: 15, 17, 26;
  --phoenix-gray-100-rgb: 34, 40, 52;
  --phoenix-gray-200-rgb: 49, 55, 74;
  --phoenix-gray-300-rgb: 55, 62, 83;
  --phoenix-gray-400-rgb: 62, 70, 91;
  --phoenix-gray-500-rgb: 96, 105, 129;
  --phoenix-gray-600-rgb: 110, 120, 145;
  --phoenix-gray-700-rgb: 138, 148, 173;
  --phoenix-gray-800-rgb: 148, 157, 181;
  --phoenix-gray-900-rgb: 159, 166, 188;
  --phoenix-gray-1000-rgb: 203, 208, 221;
  --phoenix-gray-1100-rgb: 239, 241, 245;
  --phoenix-primary: #85a9ff;
  --phoenix-secondary: #31374a;
  --phoenix-success: #90d67f;
  --phoenix-info: #60c6ff;
  --phoenix-warning: #ffcc85;
  --phoenix-danger: #f48270;
  --phoenix-primary-rgb: 133, 169, 255;
  --phoenix-secondary-rgb: 49, 55, 74;
  --phoenix-success-rgb: 144, 214, 127;
  --phoenix-info-rgb: 96, 198, 255;
  --phoenix-warning-rgb: 255, 204, 133;
  --phoenix-danger-rgb: 244, 130, 112;
  --phoenix-primary-lighter: #003cc7;
  --phoenix-primary-light: #3874ff;
  --phoenix-primary-dark: #85a9ff;
  --phoenix-primary-darker: #85a9ff;
  --phoenix-warning-lighter: #bc3803;
  --phoenix-warning-light: #e5780b;
  --phoenix-warning-dark: #ffcc85;
  --phoenix-warning-darker: #ffcc85;
  --phoenix-danger-lighter: #b81800;
  --phoenix-danger-light: #fa3b1d;
  --phoenix-danger-dark: #f48270;
  --phoenix-danger-darker: #f48270;
  --phoenix-success-lighter: #1c6c09;
  --phoenix-success-light: #25b003;
  --phoenix-success-dark: #90d67f;
  --phoenix-success-darker: #90d67f;
  --phoenix-info-lighter: #005585;
  --phoenix-info-light: #0097eb;
  --phoenix-info-dark: #60c6ff;
  --phoenix-info-darker: #60c6ff;
  --phoenix-quaternary-color: #606981;
  --phoenix-quaternary-color-rgb: 96, 105, 129;
  --phoenix-quaternary-bg: #3e465b;
  --phoenix-quaternary-bg-rgb: 62, 70, 91;
  --phoenix-emphasis-bg: #141824;
  --phoenix-emphasis-bg-rgb: 20, 24, 36;
  --phoenix-body-highlight-color: #cbd0dd;
  --phoenix-body-highlight-color-rgb: 203, 208, 221;
  --phoenix-body-highlight-bg: #222834;
  --phoenix-body-highlight-bg-rgb: 34, 40, 52;
  --phoenix-translucent-rgb: 55, 62, 83;
  --phoenix-scrollbar-bg: rgba(49, 55, 74, 0.6);
  --phoenix-navbar-vertical-border-color: #31374a;
  --phoenix-navbar-footer-border-color: #31374a;
  --phoenix-navbar-top-border-color: #31374a;
  --phoenix-navbar-vertical-link-color: #9fa6bc;
  --phoenix-navbar-vertical-link-hover-color: #eff2f6;
  --phoenix-navbar-vertical-link-hover-bg: #31374a;
  --phoenix-navbar-vertical-link-active-color: #fff;
  --phoenix-navbar-vertical-link-disable-color: #6e7891;
  --phoenix-hamburger-menu-color: #606981;
  --phoenix-navbar-vertical-hr-color: #3e465b;
  --phoenix-flatpickr-calendar-bg: #141824;
  --phoenix-flatpickr-today-color: #31374a;
  --phoenix-calendar-bg: #141824;
  --phoenix-kanban-bg: #0f111a;
  --phoenix-kanban-column-bg: #141824;
  --phoenix-kanban-ghost-bg: #0f111a;
  --phoenix-kanban-drag-bg: #1c222c;
}

/* Patient Viewer Mode — ocultar elementos de navegación del header */
.patient-viewer-mode [data-cy="patient-info-button"],
.patient-viewer-mode [data-cy="settings-button"],
.patient-viewer-mode [data-cy="study-nav-arrows"],
.patient-viewer-mode .study-navigator-button {
  display: none !important;
}
